h1{
    text-align: center;
}

p{
    font-size: 25px;
}

#results{
    display: flex;
}

#forDrilldowns{
    width: 33.3%;
}

#forMeasures{
    width: 33.3%;
}

#forYear{
    width: 33.3%;
}

#options{
    display: flex;
    justify-content: space-between;
}

body{
    background-color: rgb(221, 221, 221);
}